<h1>Ask your coach anything:</h1>
<div class="container">
  <form action="/questions/answer" data-turbo="false" method="get">
  <input type="text" name="question" placeholder="question the coach">
  <input type="submit" value="Ask!" color="light-pink">
</div>
</form>
